.cLear {
    clear: both;
}

.m-portlet {
    .m-portlet__head-caption {
        width: 100%;
    }
}

#m_ver_menu {
    .m-menu__nav {
        li.active {
            a {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                background: #3cd9e9 !important;
                i {
                    color: #fff;
                }
            }
        }

        li:hover {
            a {
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                background: #3cd9e9 !important;
                i {
                    color: #fff !important;
                }
            }
        }
    }
}

.custom_page {
    .m-portlet {
        .m-portlet__head {
            .m-portlet__head-caption {
                width: 80%;
            }
            .edit_update {
                width: 20%;
                text-align: right;
                .dropdown {
                    height: 100%;
                    #edit_update {
                        padding: 15px;
                        border-radius: 100%;
                        height: 45px;
                        width: 45px;
                        margin-top: 10px;
                        position: relative;
                        i {
                            font-size: 25px;
                            color: #000000;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    #edit_update:after {
                        content: "";
                    }
                    .dropdown-menu {
                        top: 65px !important;
                        right: 0px;
                        transform: unset !important;
                    }
                }
            }
        }
    }
    .custom_colum_1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35.66667%;
        flex: 0 0 35.66667%;
        max-width: 35.66667%;
    }
    .custom_colum_2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 39.33333%;
        flex: 0 0 39.33333%;
        max-width: 39.33333%;
        padding-left: 40px;
    }
    .m-portlet__body {
        width: 100%;
        margin: 0 auto;
        padding: 2rem 2rem;
        .custom_colum_1 {
            .sub_item {
                width: 100%;
                .form_edit {
                    padding-top: calc(.85rem + 1px);
                    i {
                        margin-left: 10px;
                        display: none;
                    }
                    .form-group {
                        display: none;
                        .save_ignore {
                            .save {
                                width: 25%;
                                float: left;
                                text-align: center;
                                i{
                                    margin-left: 60px;
                                }
                            }
                            .ignore {
                                width: 25%;
                                float: left;
                                text-align: center;
                                i{
                                    margin-left: 60px;
                                }
                            }
                        }
                    }
                }

                .form_edit:hover {
                    i.icon_custom {
                        display: block;
                        width: 15px;
                        float: right;
                        margin-top: 2px;
                        margin-right: 20px;
                    }
                }
            }
            .m-form__group {
                .col-form-label {
                    padding-bottom: 0px;
                }
            }
        }
        .custom_colum_2 {
            .item {
                margin-bottom: 10px;
                .m-form__group {
                    .label {
                        margin-bottom: 7px;
                        i {
                            float: right;
                            margin-right: 55px;
                        }
                        span {
                            margin-left: 35px;
                        }
                    }
                    h6.item_last {
                        width: 100%;
                        i {
                            float: right;
                            margin-right: 70px;
                        }
                    }
                }
                .label_sale {
                    margin-left: 15px;
                    font-weight: 100;
                }
            }
            .item:first-child {
                .m-form__group {
                    .label {
                        margin-bottom: 7px;

                        i {
                            float: right;
                            margin-right: 60px;
                        }
                    }
                }
            }
        }
    }
}

.sidebar_main {
    .m-portlet__head {
        padding: 0px 15px 0px 15px;
        .m-portlet__head-caption {
            .m-header-search {
                width: 80%;
                padding-top: 6px;
                form {
                    float: unset;
                }
            }
            .add_users {
                width: 20%;
                text-align: right;
                a {
                    text-decoration: none;
                    i {
                        font-size: 25px;
                        color: #AFAFAF;
                    }
                }
            }
        }
    }
}

.khiem{
    display: none;
}