@media screen and (min-width:768px) and (max-width:870px) {
    .custom_page {
        .m-portlet__body {
            .custom_colum_2 {
                .item:first-child {
                    .m-form__group .label {
                        i {
                            margin-right: 40px;
                        }
                    }
                }
                .item {
                    .m-form__group {
                        .label {
                            i {
                                float: right;
                                margin-right: 35px;
                            }
                        }
                        h6 {
                            i {
                                float: right;
                                margin-right: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .custom_colum_1 {
        .sub_item {
            .col-6:first-child {
                padding-right: 0px;
            }
            .form_edit {
                .icon_custom {
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .custom_page {
        .m-portlet {
            .m-portlet__body {
                .custom_colum_1 {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 25px;
                    .sub_item {
                        .col-6:first-child {
                            padding-right: 15px;
                        }
                        .form_edit {
                            .icon_custom {}
                        }
                    }
                }
                .custom_colum_2 {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 25px;
                    padding-left: 15px;
                    .item {
                        .label {
                            i {
                                margin-right: 425px;
                            }
                        }
                        .m-form__group {
                            h6 {
                                width: 100%;
                                i {
                                    margin-right: 437px;
                                }
                            }
                        }
                    }

                    .item:first-child {
                        .m-form__group {
                            .label {
                                i {
                                    margin-right: 430px;
                                }
                            }
                        }
                    }
                }
                .custom_colum_3 {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@media(max-width: 705px) {
    .custom_page {
        .m-portlet {
            .m-portlet__body {
                .custom_colum_2 {
                    .item {
                        .label {
                            i {
                                margin-right: 400px;
                            }
                        }
                        .m-form__group {
                            h6 {
                                i {
                                    margin-right: 411px;
                                }
                            }
                        }
                    }

                    .item:first-child {
                        .m-form__group {
                            .label {
                                i {
                                    margin-right: 411px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 655px) {
    .custom_page {
        .m-portlet {
            .m-portlet__body {
                .custom_colum_2 {
                    .item {
                        .label {
                            position: relative;
                            i {
                                position: absolute;
                                margin-right: 0px;
                                float: unset;
                                left: 180px;
                            }
                        }
                        .m-form__group {
                            h6 {
                                position: relative;
                                i {
                                    position: absolute;
                                    margin-right: 0px;
                                    float: unset;
                                    left: 195px;
                                }
                            }
                        }
                    }

                    .item:first-child {
                        .m-form__group {
                            .label {
                                i {
                                    position: absolute;
                                    margin-right: 0px;
                                    float: unset;
                                    left: 175px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 414px) {
    .custom_page {
        .m-portlet {
            .m-portlet__head {
                .edit_update {
                    .dropdown {
                        .dropdown-menu {
                            left: -30px !important;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 375px) {
    .custom_page {
        .m-portlet {
            .m-portlet__head {
                .edit_update {
                    .dropdown {
                        .dropdown-menu {
                            left: -40px !important;
                        }
                    }
                }
            }
        }
    }
}